body{
  font-family:Arial;
  background:#4facfe;
  color:white;
  text-align:center;
  padding-top:100px;
}
.container{
  background:rgba(0,0,0,0,3);
  padding:20px;
  border-radius:10px;
  display:inline-block;
}
input{
  padding:10px;
  width:200px;
}
button{
  padding:10px;
  cursor:pointer;
}
#result{
  margin-top:20px;
}
  
